################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/IMDBTestConcole/obj
/IMDBTestConcole/bin/Debug
/IMDBDataScraper/obj
/IMDBDataScraper/bin/Debug
/.vs
